In [2]:
#Empty Dataframe 
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#Dataframe with list 
import pandas as pd
i=[10,20,30,40,50,60]
df=pd.DataFrame(i)
df

    0
0  10
1  20
2  30
3  40
4  50
5  60

In [4]:
#Dataframe with srting values
import pandas as pd
i = ["Item 1", "Item 2", "Item 3", "Item 4"] 
df=pd.DataFrame(i)
df

        0
0  Item 1
1  Item 2
2  Item 3
3  Item 4

In [6]:
#Mix values
import pandas as pd
i = ["Item 1", "Item 2", "Item 3", "Item 4",10,20,30,40,50,60] 
df=pd.DataFrame(i)
print(df)

        0
0  Item 1
1  Item 2
2  Item 3
3  Item 4
4      10
5      20
6      30
7      40
8      50
9      60

In [8]:
#dataframe with dict values
import pandas as pd
i = {'no' :[1, 2, 3], 'name' :['john','andy','sandra',]} 
df=pd.DataFrame(i)
df

   no    name
0   1    john
1   2    andy
2   3  sandra

In [9]:
#Dict values Ex.
import pandas as pd
i = {'no' :[1, 2, 3, 4],
'name' :['john','andy','sandra', 'jonny'],
'city': ['pune', 'mumbai', 'pune', 'mumbai']}
df=pd.DataFrame(i)
df

   no    name    city
0   1    john    pune
1   2    andy  mumbai
2   3  sandra    pune
3   4   jonny  mumbai

In [1]:
#DATAFRAME WITH SERIES
import pandas as pd 
i = {'no' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])}
df=pd.DataFrame(i)
print(df)

   no
a   1
b   2
c   3
d   4
e   5

In [2]:
#2 COLUMN
import pandas as pd
i = {'no' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
 'no1' : pd.Series([6, 7, 8], index=['a1', 'b1', 'c1'])
 }
df=pd.DataFrame(i)
df

     no  no1
a   1.0  NaN
a1  NaN  6.0
b   2.0  NaN
b1  NaN  7.0
c   3.0  NaN
c1  NaN  8.0

In [3]:
#uppend method
import pandas as pd
i = pd.DataFrame({
 "x":[15,25,32,49],
 "y":[47, 24, 17, 29]
 })
j = pd.DataFrame({
 "x":[245, 145, 412],
 "y":[47, 24, 17]
 })

i.append(j, )

     x   y
0   15  47
1   25  24
2   32  17
3   49  29
0  245  47
1  145  24
2  412  17

In [4]:
#ignore_index
import pandas as pd
i = pd.DataFrame({
 "x":[15,25,32,49],
 "y":[47, 24, 17, 29]
 })
j = pd.DataFrame({
 "x":[245, 145, 412],
 "y":[47, 24, 17]
 })

i.append(j, ignore_index = True)

     x   y
0   15  47
1   25  24
2   32  17
3   49  29
4  245  47
5  145  24
6  412  17

In [5]:
#COUNT() METHOD
import pandas as pd
import numpy as np
i = pd.DataFrame({
 "person":["john", "doe", "smith", "andy"],
 "age": [30, 39, np.nan, 33]
 })
i.count()

person    4
age       3
dtype: int64

In [6]:
#COLUMN AXIS
import pandas as pd
import numpy as np
i = pd.DataFrame({
 "person":["john", "doe", "smith", "andy"],
 "age": [30, 39, np.nan, 33]
 })
i.count()
i.count(axis='columns')

0    2
1    2
2    1
3    2
dtype: int64